
body{
	color:#eeeeee;
	background-color:#222222;

	width:80%;
	min-width:750px;
	margin-left:auto;
	margin-right:auto;
}

div#template_container{
	display:none;
}
div.image-box{
	border:solid;
	border-color:#777777;
	border-width:2px;

	margin-top:5px;
	margin-bottom:5px;
	
	/*for caption*/
	text-align:center;
	padding-bottom:5px;
}

/*title*/
h1{
	color:#dd6622;
	padding-left:13px;
}

img.title-icon{
	display:inline;
	margin-left:0;
	margin-right:auto;
}

a{
	color:#ee7722;
	font-weight:bold;
	text-decoration:none;
	word-wrap:break-word;
}

div.status{
	display:inline;
}
div.element_box{
	border-style:solid;
	border-width:1px;
	margin-top:2px;
	margin-bottom:2px;
	padding:2px;

	border-color:#333333;
}
div.goodinfo{
	border-color:#447744;
}
div.info{
}
div.error{
	border-color:#442222;
}


/* message */
div.element_post_time{
	opacity:0.6;
	font-size:60%;
	text-align:right;
	/*display:inline;*/
}
button.edit_button{
	text-align:right;
}

div.element_handlename{
	min-width:10em;
	padding-right:10px;
	text-align:right;
	display:inline;
	border-right:3px;
	border-color:#ffffff;
}
div.element_message_body{
	padding-left:5px;
	display:inline;
}
